<!--detail learning goal-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail of Learning Goal</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'learning_tracker/styles.css' %}">
</head>
<body>
    <div class="container fade-in">
        <h1>Learning Goal: {{ program_goal.learning_goal.title }}</h1>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Target Date</th>
                        <th>Priority</th>
                        <th>Is Achieved</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ program_goal.learning_goal.description }}</td>
                    <td>{{ program_goal.learning_goal.target_date | default:"Not specified"}}</td>
                    <td>
                        <span class="status-{{ program_goal.learning_goal.priority|lower }}">{{ program_goal.learning_goal.priority }}</span>
                    </td>
                    <td>{{ program_goal.learning_goal.is_achieved|yesno:"Yes,Not yet" }}</td>
                </tr>
            </tbody>
            </table>
        </div>
        <div class="action-buttons">
            <a href="{% url 'edit_learning_goal' program_goal.id %}"><button class="btn-secondary">Edit</button></a>
            <a href="{% url 'delete_learning_goal' program_goal.id %}"><button class="btn-danger">Delete</button></a>
        </div>
        <div class="nav-links">
            <a href="{% url 'detail_program' program_goal.program.id %}">Back to Program</a>
        </div>
    </div>
</body>
</html>
