<!--detail learning goal-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail of Learning Goal</title>
</head>
<body>
    <h1>Learning Goal: {{ program_goal.learning_goal.title }}</h1>
    <h2>Program: {{ program_goal.program.name }}</h2>
    <table>
        <tr>
            <td>Description</td>
            <td>{{ program_goal.learning_goal.description }}</td>
        </tr>
        <tr>
            <td>Target Date</td>
            <td>{{ program_goal.learning_goal.target_date }}</td>
        </tr>
        <tr>
            <td>Priority</td>
            <td>{{ program_goal.learning_goal.priority }}</td>
        </tr>
        <tr>
            <td>Is Achieved</td>
            <td>{{ program_goal.learning_goal.is_achieved|yesno:"Yes,Not yet" }}</td>
        </tr>   
    </table>
    <a href="{% url 'edit_learning_goal' program_goal.id %}">Edit</a>
    <a href="{% url 'delete_learning_goal' program_goal.id %}">Delete</a>
    <a href="{% url 'detail_program' program_goal.program.id %}">Back to Program</a>
</body>
</html>
