<!--detail course-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail of Course</title>
</head>
<body>
    <h1>Course: {{ course.name }}</h1>
    <table>
        <tr>
            <td>Program</td>
            <td>{{ course.program.name }}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{ course.description }}</td>
        </tr>
        <tr>
            <td>Duration Hours</td>
            <td>{{ course.duration_hours }}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{ course.status }}</td>
        </tr>
        <tr>
            <td>Start Date</td>
            <td>{{ course.start_date }}</td>
        </tr>
        <tr>
            <td>Completion Date</td>
            <td>{{ course.completion_date }}</td>
        </tr>
        <tr>
            <td>Progress Percentage</td>
            <td>{{ course.progress_percentage }}</td>
        </tr>
        <tr>
            <td>Course URL</td>
            <td>{{ course.course_url }}</td>
        </tr>
        <tr>
            <td>Notes</td>
            <td>{{ course.notes }}</td>
        </tr>
    </table>
    <a href="{% url 'edit_course' course.id %}">Edit</a>
    <a href="{% url 'delete_course' course.id %}">Delete</a>
</body>
</html>