<!--edit program-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Program</title>
</head>
<body>
    <h1>Edit Program</h1>
    <form action="{% url 'edit_program' program.id %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <td>{{ field }}</td>
        {% endfor %}
        <button type="submit" onclick="return confirm('Are you sure you want to apply your changes?')">Apply</button>
        <button type="submit" onclick="return confirm('Are you sure you want to cancel?')">Cancel</button>
    </form>
</body>
</html>