<!--listing all programs--> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Programs</title>
</head>
<body>
    <h1>Programs</h1>
    <table>
        <th>Name</th>
        <th>Provider</th>
        <th>Difficulty Level</th>
        <th>Status</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Details</th>
        {% for program in programs %}
        <tr>
            <td>{{ program.name }}</td>
            <td>{{ program.provider }}</td>
            <td>{{ program.difficulty_level }}</td>
            <td>{{ program.status }}</td>
            <td>{{ program.start_date }}</td>
            <td>{{ program.end_date }}</td>
            <td><a href="{% url 'detail_program' program.id %}">Details</a></td>
        </tr>
        {% endfor %}
    </table>
    <form method="post" action="{% url 'add_program' %}">
        {% csrf_token %}
        <button type="submit">Add Program</button>
    </form>  
</body>
</html>
